<div class="dashboard">
  <app-oder-form class="oder-form"></app-oder-form>
  <app-price-chart class="price-chart"></app-price-chart>
  <app-trade-history class="trade-history"></app-trade-history>
</div>


